@font-face {
    font-family: "ns-regular";
    src: url('fonts/NeoSans-regular.eot');
    src: url('fonts/NeoSans-regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/NeoSans-regular.svg#NeoSansW23') format('svg'),
    url('fonts/NeoSans-regular.woff') format('woff'),
    url('fonts/NeoSans-regular.ttf') format('truetype');
    font-weight:400;
    font-style: normal;
}
@font-face {
    font-family: "ns-bold";
    src: url('fonts/NeoSans-bold.eot');
    src: url('fonts/NeoSans-bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/NeoSans-bold.svg#NeoSansW23-Medium') format('svg'),
    url('fonts/NeoSans-bold.woff') format('woff'),
    url('fonts/NeoSans-bold.ttf') format('truetype');
    font-weight:700;
    font-style: normal;
}
/*
 * Droid Arabic Kufi (Arabic) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Droid Arabic Kufi';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Regular.eot);
  src: url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Regular.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Regular.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Regular.woff) format('woff'),
       url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Droid Arabic Kufi bold';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Bold.eot);
  src: url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Bold.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Bold.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Bold.woff) format('woff'),
       url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Bold.ttf) format('truetype');
}
body{
	/*font-family: "ns-regular" !important;*/
	font-family: 'Droid Arabic Kufi' !important;
}
[data-direction="rtl"] .c-inputs-stacked.msh-inline-radio .c-input + .c-input{
    margin-right: 15px;
}
.c-inputs-stacked.msh-inline-radio .c-input::after{
	display: inline;
	margin-bottom: 0;
}

[data-palette="palette-5"] .form-group.floating-labels select{
    border-bottom: 1px solid #d9d9d9 !important;
    color: #262932 !important;
}
.form-group.floating-labels select{
    position: relative;
    width: 100%;
    background: 0 0;
    padding: 26px 0 12px;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 500;
    border: none !important;
    box-shadow: none;
    z-index: 1;
}
[data-direction="rtl"] th,
[data-direction="rtl"] td{
	text-align: right;
	padding: 0.45rem;
}
[data-direction="rtl"] th{
	font-size: 14px;	
}
.M-title{
	border-bottom: 3px solid #d9534f;
	background-color: #3c414f;
	color: #fff;
	/*padding: 7px 10px;*/
	padding:10px;
	border-radius: 4px;
	/*font-size: 1.25rem;*/
	font-size: 16px;
}

/* validation style */
.form-group.floating-labels label.error{
	position: absolute;
	font-weight: 300 !important;
	font-size: 13px !important;
	color: rgb(217, 83, 79);
	line-height: 24px;
	transition: all 0.5s ease;
	margin: 0px;
	right: 0px;
	top: 61px !important;
	display: block;
}

.CustomeAlert
{    margin-left: 15px;
    margin-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.VacationDate{
	/*background-color:#95D8F9;*/
	background-color: #8cc7e4;
}
[data-palette="palette-5"] .table-hover > tbody > tr.VacationDate:hover > td, 
[data-palette="palette-5"] .table-hover > tbody > tr.VacationDate:hover > th{
	background-color: #65aed2;
}
.EmpVacationDate{
	/*background-color:#FFFF99;*/
	background-color:#dcdc6d;
}
[data-palette="palette-5"] .table-hover > tbody > tr.EmpVacationDate:hover > td, 
[data-palette="palette-5"] .table-hover > tbody > tr.EmpVacationDate:hover > th{
	background-color: #c7c745;
}

.AttendDay{
	background-color:#A4D6A5;
}

.LateDay{
	/*background-color:#F7B3B4;*/
	background-color:#f7a6a7;
}
[data-palette="palette-5"] .table-hover > tbody > tr.LateDay:hover > td, 
[data-palette="palette-5"] .table-hover > tbody > tr.LateDay:hover > th{
	    background-color: #f78888;
}
.NotRegisteredDay{
	/*background-color:#E1E2E4;*/
	background-color: #f3f3f3;
}

[data-direction="rtl"] .sidebar-1 .profile-title{
	/*font-size: 1rem;*/
    font-family: 'ns-regular';
}
.sidebar-1 .profile{
	height:180px;
}
.sidebar-1 .section-title{
	font-family: 'ns-bold';
	font-weight: normal;
}
[data-palette="palette-5"] .sidebar-1 .section-content a{
	font-family: 'ns-regular';
}
.main_currentTime{
	margin-top: 70px;
	margin-bottom: 50px;
}
.attendanceAndLeave_btns .btn{
  /*  border-radius: 50%;
    width: 180px;
    height: 180px;*/
    border-radius: 5px;
    width: 80%;
    height: 150px;
}
.attendanceAndLeave_btns .btn i{
	display: block;
	margin-bottom: 10px;
}


/************/
.c-input > input{
	position: relative;
}
.floating-labels textarea{
	width: 100%;
	height: 80px;
	resize: none;
	border-color: #d9d9d9;
	border-radius: 3px;
}

@media (min-width: 544px){
	.col-sm-offset-1 {
	    margin-left: auto;
	}	
}
.M-table1{
	border: 1px solid #ddd;
}
.M-table1 thead {
    /*color: #999;*/
    color: #666;
}
.M-table1 thead tr th {
    background-color: #DDD;
    font-size: 13px;
    /*font-weight: 400;*/
    color: #000;
    border-bottom: 0;
}
.M-table1>thead>tr>th, 
.M-table1>tbody>tr>th, 
.M-table1>tfoot>tr>th, 
.M-table1>thead>tr>td, 
.M-table1>tbody>tr>td, 
.M-table1>tfoot>tr>td {
    border: 1px solid #ddd;
}
.M-table1tr td:first-child {
    border-right-width: 1px !important;
}
table.dataTable tr.odd td.sorting_1,
.M-table1.table-striped>tbody>tr:nth-child(odd)>td, 
.M-table1.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #f9f9f9 !important;
}
table.dataTable tr.even td.sorting_1{
	background-color: #fff !important;
}
.M-table1>tbody>tr:hover>td, .M-table1>tbody>tr:hover>th {
    background-color: #f5f5f5 !important;
}	
table.dataTable tr.even:hover> td.sorting_1{
	background-color: #f5f5f5 !important;
}
.M-table1>tbody>tr:hover>td, .M-table1>tbody>tr:hover>th {
    background-color: #f5f5f5 !important;
}


.M-select2-containe .select2-container{
	width: 100% !important;
	margin-top: 10px !important;
}
.M-select2-containe .select2-container--default .select2-selection--single{
	border:none !important;
	border-bottom: 1px solid #d9d9d9 !important;
	border-radius: 0 !important;
}
.M-select2-containe .select2-dropdown{
	border-color:#d9d9d9 !important;
}
.floating-labels h6{
	font-size: 14px;
}

[data-direction="rtl"] table.dataTable thead .sorting_desc:after,
[data-direction="rtl"] table.dataTable thead .sorting_asc:after,
[data-direction="rtl"] table.dataTable thead .sorting:after{
	content: "" !important;
}
[data-direction="rtl"] div.dataTables_wrapper div.dataTables_paginate{
	margin: 2px 0;
}
[data-direction="rtl"] div.dataTables_wrapper div.dataTables_paginate ul.pagination{
	white-space: normal;
	list-style-type: none;
	display: inline-block;
	padding-right: 0;
	margin: 10px 0;
	list-style-type:none;
}
[data-palette="palette-5"] div.dataTables_wrapper div.dataTables_paginate .paginate_button{
	display: inline;
}
.dataTables_info{
	float: right !important;
}
.dataTables_filter{
	float: left !important;
}
.navbar-brand{
	font-size: 1.20rem;
}
.sidebar-1 .profile-image{
	margin-right: auto;
	margin-left: auto;
}
[data-direction="rtl"] .sidebar-1 .profile-image img{
	margin:20px 0;
}
/* button style*/
.M-success-btn{
	/*border-radius: 0;*/
	border: none;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
            transition: all 0.3s;
    overflow: hidden;
    opacity: 1;
  	z-index: 0;
  	min-width: 100px;
}
.M-success-btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
            transition: all 0.3s;

    width: 0;
    height: 100%;
    top: 50%;
    left: 50%;
    /*background: #449d44;*/
    background: #1e8031;
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%);
       -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
}
.M-success-btn:hover, .M-success-btn:active {
    /*color: #0e83cd;*/
}
.M-success-btn:hover:after {
    width: 100%;
    opacity: 1;
}
